<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>TP5 | Arq. Web | Spring Boot </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    
    <header>
        <div>Grupo 1 (Rauch) - Entregable 5 / Judit Meaca - Dolores Peña - Leonardo Esains - Mauricio Oruezabal - Sebastian Esains</div>
    </header>

    <div class="container">

        <div class="container_title">
            <h1 class="display-1">Alta item compra</h1>
        </div>

        <hr class="hr1">

        <form class="container_form">
            <div class="width-input">
                <input type="number" id="id_compra" class="form-control form-label" name="numOrder" placeholder="Número de orden">
                <input type="number" id="id_producto" class="form-control form-label" name="numProd" placeholder="Número de producto">
                <input type="number" id="cantidad" class="form-control form-label" name="cant" placeholder="Cantidad">
            </div>
            <div class="container_form">
                <button class="send_button" id="btn_add_item_compra">Agregar item compra</button>
            </div>
        </form>
        
        <hr class="hr1">
        
        <div class="container_form">
            <button class="btn btn-dark" id="btn_volver_item_compra">Volver</button>
        </div>

    </div>

    <script src="../static/js/form_alta_item_compra.js"></script>
</body>
</body>
</html>