<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>TP5 | Arq. Web | Spring Boot </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <div>Grupo 1 (Rauch) - Entregable 5 / Judit Meaca - Dolores Peña - Leonardo Esains - Mauricio Oruezabal - Sebastian Esains</div>
        </header>
         
        <div class="container">

            <div class="container_title">
                <h1 class="display-1">Autoservicio <b>Boedo</b></h1>
            </div>

            <hr class="hr1">

            <!-- IR AL MODULO CLIENTE-->
            
            <div class="container_form">
                <button class="send_button" id="btn_cliente">Cliente</button>
            </div>

            <hr class="hr">

            <!-- IR AL MODULO PRODUCTO-->
            
            <div class="container_form">
                <button class="send_button" id="btn_producto">Producto</button>
            </div>
            
            <hr class="hr">

            <!-- IR AL MODULO COMPRA-->

            <div class="container_form">
                <button class="send_button" id="btn_compra">Compra</button>
            </div>
                       
            <hr class="hr">

            <!-- IR AL MODULO REPORTES-->

            <div class="container_form">
                <button class="send_button" id="btn_reportes">Reportes</button>
            </div>
        
        </div>
        <script src="../static/js/index.js"></script>
    </body>
</html>