<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>TP5 | Arq. Web | Spring Boot </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <div>Grupo 1 (Rauch) - Entregable 5 / Judit Meaca - Dolores Peña - Leonardo Esains - Mauricio Oruezabal - Sebastian Esains</div>
        </header>
         
        <div class="container">

            <div class="container_title container_form">
                <h1 class="display-1">Reporte 4</h1>
                <h4>Genera un reporte con las ventas por día.</h4>
            </div>

            <hr class="hr1">

            <div class="container_form">
                <button class="send_button" id="btn_crear_reporte_4">Generar reporte</button>
            </div>

            <div class="container_list">
                <ul class="list-group list-group-flush" id="DOM_reporte_4"></ul>
            </div>

            <hr class="hr1">

            <div class="container_form">
                <button class="btn btn-dark" id="btn_volver_reporte_4">Volver</button>
            </div>            
        
        </div>
        
        <script src="../static/js/reporte_4.js"></script>
    </body>
</html>